.callout { 
	position: relative;
	background: $venus;
	border: 1px solid;
	padding: 10px;
	color: $white;
}
.callout::before {
	content: "";
	position: absolute;
	top: -.4em; left: 1em;
	padding: .35em;
	background: inherit;
	border: inherit;
	border-right: 0;
	border-bottom: 0;
	transform: rotate(45deg);
}