
#main-nav {
  background-color: black;
  height: 100px;
  width: 80%;
  margin: auto;
  .branding {
    h1 {
      color: $iron;
      padding-top: 0; 
      margin: 10px; 
      display:  inline-block;
      .highlight-text {
        color: $water;
      }
    }
  }
  nav {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        display: inline-block;
        padding: 10px;    
      }
    }
  }
}