body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  background: #f0f0f0;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

header {
  min-height: 60px;
  background: #252525;
  border-bottom: 3px solid yellow;
}

header .branding {
  float: left;
  color: #fff;
}

header .branding .highlight-text {
  color: yellow;
}

header nav {
  float: right;
  padding-top: 10px;
}

header nav ul {
  list-style: none;
  margin: 0;
}

header nav ul li {
  float: left;
  padding: 15px;
}

header nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

header nav ul li a:hover, 
header nav ul li a.active {
  color: yellow;
}

#showcase {
  text-align: center;
  color: #fff;
  background: url("../images/showcase-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
}

#showcase p {
  font-size: 24px;
}

#showcase h1 {
  font-size: 55px;
  margin-top: 100px;
}

#showcase .dark-text-bg {
  background: rgba(0, 0, 0, 0.55);
}

#newsletter {
  background: #252525;
  color: #fff;
  padding: 15px;
}

#newsletter h1 {
  float: left;
}

#newsletter form {
  float: right;
  margin-top: 15px;
}

#newsletter form input[type="email"] {
  height: 25px;
  width: 200px;
  padding: 2px;
}

#newsletter form .button-submit {
  padding: 8px;
  background: yellow;
  border: 1px solid yellow;
}

#newsletter form .button-submit:hover {
  background: #ecec00;
  cursor: pointer;
}

#boxes {
  margin-top: 30px;
}

#boxes .box {
  float: left;
  margin: 0 10px;
  width: 30%;
  text-align: center;
}

#boxes .box .title {
  font-size: 20px;
}

.box img {
  width: 90px;
  height: 90px;
}

/* Services */
#main {

}

#main article.main-col {
 float: left;
 width: 65%;
}

#main article.main-col .quote-content {
  padding: 15px;
  background: #cdcdcd;
}

#main aside.side-col {
 float: right;
 width: 30%;
}

#main aside.side-col .sidebar .main-content {
 margin-top: 20px;
 padding: 15px;
 background: #cdcdcd;
}

#main aside.side-col .message-form {
  margin-top: 20px;
  border: 1px solid yellow;
  padding: 20px;
  background: #252525;
}

#main aside.side-col .message-form h1 {
  color: yellow;
}

#main aside.side-col .message-form label {
  display: block;
  font-weight: bold;
  padding: 5px 0 5px 0;
  color: #fff;
}

#main aside.side-col .message-form .form-group {
  margin-bottom: 10px;
}

#main aside.side-col .message-form .form-control {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
}

#main aside.side-col .message-form button[type="submit"] {
  padding: 15px;
  background: yellow;
  border: 1px solid yellow;
  width: 80px;
  cursor: pointer;
}

.services-page ul {
  padding: 0;
  margin: 0;
}

.services-page ul li {
  list-style: none;
  border: 1px solid #cdcdcd;
  background: #cdcdcd;
  margin-bottom: 5px;
  padding: 20px;
}

.services-page ul li p {
  padding-bottom: 10px;
}

footer {
  border-top: 1px solid rgba(0, 11, 49, 0.932);
  background: rgb(253, 253, 0);
  padding: 20px;
}

footer p {
  text-align: center;
}